Repository duncanmmacleod/ciecplib, pull requests merged in 2023-04, with the labels that each got.

#128 Update principal finding regex to allow for robots
  ciecplib/kerberos.py
Labels: api:patch, ciecplib.kerberos

#132 Fix copy-paste error in docs for --path argument
  ciecplib/tool/ecp_cert_info.py
Labels: api:patch, ecp-cert-info

#133 Document requirement format for ecp-cert-info --valid
  ciecplib/tool/ecp_cert_info.py
Labels: api:patch, ecp-cert-info

#134 Update versions and changelogs for 0.7.2
  ciecplib.spec
  ciecplib/__init__.py
  debian/changelog
Labels: packaging
